@media only screen and (max-width: 999px) {
    .icon-next {
       display: none;
    }
    .icon-prev {
        display: none;
    }
}
.project-container {
    margin: 0 auto;
    width: 70%;
}
.offset {
    margin-left: 0.5rem;
}
.icon {
    color: gray;
    font-size: 5rem;
}
.icon-next {
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 2%;
}
.icon-next span {
    padding : 18px;
}

.icon-prev {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 2%;
}
.icon-prev span {
    padding: 0 18px;
}
a.icon-next .fa-angle-right {
    transition: all 0.4s ease-in-out;
}
a.icon-prev .fa-angle-left {
    transition: all 0.4s ease-in-out;
}
a.icon-next:hover .fa-angle-right {
    transform: translateX(5px);
    transition: all 0.4s ease-in-out;
}
a.icon-prev:hover .fa-angle-left {
    transform: translateX(-5px);
    transition: all 0.4s ease-in-out;
}
.icon:hover {
    color: #252525;
}
.icon:focus {
    color: black;
}

.icon-close {
    font-size: 2.5rem;
    position: absolute;
    right: 5%;

}

